@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    background: linear-gradient(to right, #f4f6f9, #dde5ec);
}


.title {
    font-family: "Phudu", cursive;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.2;
}

.subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5;
}


.result {
    font-size: 1.8rem;
    text-align: center;
    color: #3b119d;
    background-color: #ecf9f1;
    padding: 15px;
    border-radius: 2px;
    margin-top: 20px;
    background: linear-gradient(135deg, #3b119d, #8e44ad);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   
    
}

.stButton>button {
    background: linear-gradient(135deg, #ffcc00, #ff9900);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.stButton>button:hover {
    background: linear-gradient(135deg, #ff9900, #ff6600);
    transform: translateY(-3px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}


.sidebar .sidebar-content {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.stSelectbox>div, .stNumberInput>div {
    border: 2px solid #d3bd16;
    background: white;
    padding: 8px;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}

.stSelectbox>div:hover, .stNumberInput>div:hover {
    background: #fff8e1;
    border-color: #ffcc00;
}
.title, .subtitle, .result {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
